<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPHSD DMS</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="app-container">
        <%- include('../partials/sidebar', { activePage: page }) %>
        
        <div class="content-wrapper">
            <%- body %>
        </div>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>