<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UPHSD DMS</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="/css/documentProjects.css">
    <link rel="stylesheet" href="/css/projectDetails.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Alertify CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
</head>
<body>
    <div class="app-container">
        <%- include('../partials/sidebar', { activePage: typeof page !== 'undefined' ? page : '' }) %>
        
        <div class="content-wrapper">
            <%- body %>
        </div>
    </div>

    <!-- Alertify JS -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="/js/main.js"></script>
    <% if (page === 'users') { %>
    <script src="/js/users.js"></script>
    <% } %>
    <% if (page === 'projectDetails') { %>
    <script src="/js/taskForm.js"></script>
    <% } %>
    <% if (page === 'documentProjects') { %>
    <script src="/js/documentProjects.js"></script>
    <% } %>

</body>
</html>